{
  "openapi": "3.0.3",
  "info": {
    "title": "Allo API",
    "description": "Allo API provides programmatic access to your Allo account, allowing you to manage webhooks, retrieve calls and contacts, and send SMS messages.\n\nAll requests to `/v1/api/**` endpoints automatically go through quota checking and scope validation.",
    "version": "1.0.0",
    "contact": {
      "name": "Allo Support"
    }
  },
  "servers": [
    {
      "url": "https://api.withallo.com",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Summary Templates",
      "description": "Manage call summary templates that control how AI-generated call summaries are structured for your team."
    },
    {
      "name": "Webhooks",
      "description": "Manage webhook endpoints to receive real-time notifications about events in your Allo account. Each endpoint subscribes to one or more event topics and is verified with a signing secret."
    },
    {
      "name": "Calls",
      "description": "Retrieve and search call records with filtering and pagination. Filter calls by your Allo phone number."
    },
    {
      "name": "Contacts",
      "description": "Search and retrieve contact information with sorting and pagination. Includes engagement level tracking."
    },
    {
      "name": "SMS",
      "description": "Send SMS messages to phone numbers using your Allo numbers."
    },
    {
      "name": "Phone Numbers",
      "description": "Retrieve information about your Allo phone numbers."
    },
    {
      "name": "Analytics",
      "description": "Pre-computed call metrics, team performance, and outbound dial funnel"
    },
    {
      "name": "CRM",
      "description": "Manage people, companies, and deals in your CRM."
    }
  ],
  "paths": {
    "/v2/api/partner/accounts": {
      "post": {
        "summary": "Create account",
        "description": "Creates an Allo account for one of your customers, provisions a phone number, and returns a scoped API key for the account. Requires the `PARTNER` scope. The account is billed as one seat on your subscription.",
        "operationId": "createPartnerAccount",
        "tags": [
          "Partner"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "name",
                  "personal_mobile",
                  "number_preference"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Becomes the account's login.",
                    "example": "client@example.com"
                  },
                  "name": {
                    "type": "string",
                    "example": "Jane Doe"
                  },
                  "personal_mobile": {
                    "type": "string",
                    "description": "Mandatory — an existing mobile the secondary number attaches to.",
                    "example": "+33612345678"
                  },
                  "partner_client_ref": {
                    "type": "string",
                    "description": "Your own reference for this customer. Echoed back and on the activation webhook.",
                    "example": "crm-12345"
                  },
                  "number_preference": {
                    "type": "object",
                    "required": [
                      "country"
                    ],
                    "properties": {
                      "country": {
                        "type": "string",
                        "description": "ISO country code.",
                        "example": "FR"
                      },
                      "prefix": {
                        "type": "string",
                        "nullable": true,
                        "example": "+337"
                      }
                    }
                  }
                }
              },
              "example": {
                "email": "client@example.com",
                "name": "Jane Doe",
                "personal_mobile": "+33612345678",
                "partner_client_ref": "crm-12345",
                "number_preference": {
                  "country": "FR",
                  "prefix": "+337"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "usr_2Nf..."
                        },
                        "api_key": {
                          "type": "string",
                          "nullable": true,
                          "description": "Scoped API key for the new account. Returned only on create.",
                          "example": "b1c2..."
                        },
                        "phone_numbers": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "+33712345678"
                          ]
                        },
                        "status": {
                          "type": "string",
                          "example": "ACTIVE"
                        },
                        "activated": {
                          "type": "boolean",
                          "description": "True once the customer has signed in on a device.",
                          "example": false
                        },
                        "partner_client_ref": {
                          "type": "string",
                          "nullable": true,
                          "example": "crm-12345"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "usr_2Nf...",
                    "api_key": "b1c2...",
                    "phone_numbers": [
                      "+33712345678"
                    ],
                    "status": "ACTIVE",
                    "activated": false,
                    "partner_client_ref": "crm-12345"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiValidationError"
          },
          "401": {
            "$ref": "#/components/responses/ApiUnauthorized"
          },
          "402": {
            "description": "Billing error — could not add a seat to your subscription (PARTNER_SUBSCRIPTION_NOT_BILLABLE / PARTNER_BILLING_FAILED).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The API key lacks the PARTNER scope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "An account already exists (PARTNER_ACCOUNT_ALREADY_EXISTS) or no number is available (NO_NUMBER_AVAILABLE).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ApiRateLimited"
          }
        }
      }
    },
    "/v2/api/partner/accounts/{id}": {
      "get": {
        "summary": "Get account",
        "description": "Returns the status and activation state of an account you provisioned. Requires the `PARTNER` scope.",
        "operationId": "getPartnerAccount",
        "tags": [
          "Partner"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The account id returned on create."
          }
        ],
        "responses": {
          "200": {
            "description": "Account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "usr_2Nf..."
                        },
                        "api_key": {
                          "type": "string",
                          "nullable": true,
                          "description": "Scoped API key for the new account. Returned only on create.",
                          "example": "b1c2..."
                        },
                        "phone_numbers": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "+33712345678"
                          ]
                        },
                        "status": {
                          "type": "string",
                          "example": "ACTIVE"
                        },
                        "activated": {
                          "type": "boolean",
                          "description": "True once the customer has signed in on a device.",
                          "example": false
                        },
                        "partner_client_ref": {
                          "type": "string",
                          "nullable": true,
                          "example": "crm-12345"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ApiUnauthorized"
          },
          "403": {
            "description": "The API key lacks the PARTNER scope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No account with this id was provisioned by your API key (PARTNER_ACCOUNT_NOT_FOUND).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ApiRateLimited"
          }
        }
      },
      "delete": {
        "summary": "Deactivate account",
        "description": "Deactivates an account you provisioned and releases its seat. The account stays active until the end of the current paid period, then expires. Requires the `PARTNER` scope.",
        "operationId": "deletePartnerAccount",
        "tags": [
          "Partner"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Account deactivated"
          },
          "401": {
            "$ref": "#/components/responses/ApiUnauthorized"
          },
          "403": {
            "description": "The API key lacks the PARTNER scope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No account with this id was provisioned by your API key (PARTNER_ACCOUNT_NOT_FOUND).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ApiRateLimited"
          }
        }
      }
    },
    "/v2/api/numbers/{number}/default_summary_template": {
      "put": {
        "summary": "Set number default summary template",
        "description": "Sets or clears the default summary template used for a phone number's call summaries. Pass `summary_template_id` to set it, or null/omit to clear it.",
        "operationId": "setNumberDefaultSummaryTemplate",
        "tags": [
          "Summary Templates"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "required": true,
            "description": "Allo phone number in E.164 format",
            "schema": {
              "type": "string",
              "example": "+14155551234"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "summary_template_id": {
                    "type": "string",
                    "nullable": true,
                    "description": "Summary template ID (`tst-*`) to set as the default, or null to clear.",
                    "example": "tst-abc123"
                  }
                }
              },
              "example": {
                "summary_template_id": "tst-abc123"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Default summary template updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "number": {
                          "type": "string",
                          "example": "+14155551234"
                        },
                        "default_summary_template_id": {
                          "type": "string",
                          "nullable": true,
                          "example": "tst-abc123"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "number": "+14155551234",
                    "default_summary_template_id": "tst-abc123"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiValidationError"
          },
          "401": {
            "$ref": "#/components/responses/ApiUnauthorized"
          },
          "404": {
            "$ref": "#/components/responses/ApiNotFound"
          },
          "429": {
            "$ref": "#/components/responses/ApiRateLimited"
          }
        }
      }
    },
    "/v2/api/summary_templates": {
      "get": {
        "summary": "List summary templates",
        "description": "Returns the team's call summary templates.",
        "operationId": "listSummaryTemplates",
        "tags": [
          "Summary Templates"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of summary templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SummaryTemplate"
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "tst-abc123",
                      "name": "Sales call",
                      "call_context": "B2B SaaS sales calls",
                      "icon": "📞",
                      "sections": [
                        {
                          "title": "Pain points",
                          "instructions": "List the prospect's pain points",
                          "order": 0
                        },
                        {
                          "title": "Next steps",
                          "instructions": "What was agreed",
                          "order": 1
                        }
                      ],
                      "created_at": "2026-06-01T10:00:00",
                      "updated_at": "2026-06-01T10:00:00"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ApiUnauthorized"
          },
          "429": {
            "$ref": "#/components/responses/ApiRateLimited"
          }
        }
      },
      "post": {
        "summary": "Create summary template",
        "description": "Creates a call summary template for the team.",
        "operationId": "createSummaryTemplate",
        "tags": [
          "Summary Templates"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Template name.",
                    "example": "Sales call"
                  },
                  "call_context": {
                    "type": "string",
                    "nullable": true,
                    "description": "Background context that helps the AI summarize calls (max 4000 characters).",
                    "example": "B2B SaaS sales calls"
                  },
                  "icon": {
                    "type": "string",
                    "nullable": true,
                    "description": "Optional icon (e.g. an emoji).",
                    "example": "📞"
                  },
                  "sections": {
                    "type": "array",
                    "maxItems": 10,
                    "items": {
                      "$ref": "#/components/schemas/SummaryTemplateSection"
                    },
                    "description": "Ordered sections that make up the summary (max 10)."
                  }
                },
                "required": [
                  "name"
                ]
              },
              "example": {
                "name": "Sales call",
                "call_context": "B2B SaaS sales calls",
                "icon": "📞",
                "sections": [
                  {
                    "title": "Pain points",
                    "instructions": "List the prospect's pain points",
                    "order": 0
                  },
                  {
                    "title": "Next steps",
                    "instructions": "What was agreed",
                    "order": 1
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Summary template created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SummaryTemplate"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "tst-abc123",
                    "name": "Sales call",
                    "call_context": "B2B SaaS sales calls",
                    "icon": "📞",
                    "sections": [
                      {
                        "title": "Pain points",
                        "instructions": "List the prospect's pain points",
                        "order": 0
                      },
                      {
                        "title": "Next steps",
                        "instructions": "What was agreed",
                        "order": 1
                      }
                    ],
                    "created_at": "2026-06-01T10:00:00",
                    "updated_at": "2026-06-01T10:00:00"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiValidationError"
          },
          "401": {
            "$ref": "#/components/responses/ApiUnauthorized"
          },
          "429": {
            "$ref": "#/components/responses/ApiRateLimited"
          }
        }
      }
    },
    "/v2/api/summary_templates/{id}": {
      "get": {
        "summary": "Get summary template",
        "description": "Returns a single call summary template by ID.",
        "operationId": "getSummaryTemplate",
        "tags": [
          "Summary Templates"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Summary template ID (`tst-*`)",
            "schema": {
              "type": "string",
              "example": "tst-abc123"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Summary template",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SummaryTemplate"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "tst-abc123",
                    "name": "Sales call",
                    "call_context": "B2B SaaS sales calls",
                    "icon": "📞",
                    "sections": [
                      {
                        "title": "Pain points",
                        "instructions": "List the prospect's pain points",
                        "order": 0
                      },
                      {
                        "title": "Next steps",
                        "instructions": "What was agreed",
                        "order": 1
                      }
                    ],
                    "created_at": "2026-06-01T10:00:00",
                    "updated_at": "2026-06-01T10:00:00"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ApiUnauthorized"
          },
          "404": {
            "$ref": "#/components/responses/ApiNotFound"
          },
          "429": {
            "$ref": "#/components/responses/ApiRateLimited"
          }
        }
      },
      "put": {
        "summary": "Update summary template",
        "description": "Replaces a summary template's name, call context, icon, and sections.",
        "operationId": "updateSummaryTemplate",
        "tags": [
          "Summary Templates"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Summary template ID (`tst-*`)",
            "schema": {
              "type": "string",
              "example": "tst-abc123"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Template name.",
                    "example": "Sales call"
                  },
                  "call_context": {
                    "type": "string",
                    "nullable": true,
                    "description": "Background context that helps the AI summarize calls (max 4000 characters).",
                    "example": "B2B SaaS sales calls"
                  },
                  "icon": {
                    "type": "string",
                    "nullable": true,
                    "description": "Optional icon (e.g. an emoji).",
                    "example": "📞"
                  },
                  "sections": {
                    "type": "array",
                    "maxItems": 10,
                    "items": {
                      "$ref": "#/components/schemas/SummaryTemplateSection"
                    },
                    "description": "Ordered sections that make up the summary (max 10)."
                  }
                },
                "required": [
                  "name"
                ]
              },
              "example": {
                "name": "Sales call",
                "call_context": "B2B SaaS sales calls",
                "icon": "📞",
                "sections": [
                  {
                    "title": "Pain points",
                    "instructions": "List the prospect's pain points",
                    "order": 0
                  },
                  {
                    "title": "Next steps",
                    "instructions": "What was agreed",
                    "order": 1
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Summary template updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SummaryTemplate"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "tst-abc123",
                    "name": "Sales call",
                    "call_context": "B2B SaaS sales calls",
                    "icon": "📞",
                    "sections": [
                      {
                        "title": "Pain points",
                        "instructions": "List the prospect's pain points",
                        "order": 0
                      },
                      {
                        "title": "Next steps",
                        "instructions": "What was agreed",
                        "order": 1
                      }
                    ],
                    "created_at": "2026-06-01T10:00:00",
                    "updated_at": "2026-06-01T10:00:00"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiValidationError"
          },
          "401": {
            "$ref": "#/components/responses/ApiUnauthorized"
          },
          "404": {
            "$ref": "#/components/responses/ApiNotFound"
          },
          "429": {
            "$ref": "#/components/responses/ApiRateLimited"
          }
        }
      },
      "delete": {
        "summary": "Delete summary template",
        "description": "Soft-deletes (deactivates) a summary template.",
        "operationId": "deleteSummaryTemplate",
        "tags": [
          "Summary Templates"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Summary template ID (`tst-*`)",
            "schema": {
              "type": "string",
              "example": "tst-abc123"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Summary template deleted"
          },
          "401": {
            "$ref": "#/components/responses/ApiUnauthorized"
          },
          "404": {
            "$ref": "#/components/responses/ApiNotFound"
          },
          "429": {
            "$ref": "#/components/responses/ApiRateLimited"
          }
        }
      }
    },
    "/v2/api/webhooks": {
      "get": {
        "summary": "List webhooks",
        "description": "Returns all webhook endpoints configured for your account.",
        "operationId": "listWebhooks",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of webhook endpoints",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WebhookApiResponse"
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "ep_2NfDKEm9sF8xK3pQr1Zt",
                      "url": "https://example.com/webhooks/allo",
                      "topics": [
                        "call.received",
                        "sms.received"
                      ],
                      "description": "Production event stream",
                      "enabled": true,
                      "created_at": "2026-04-21T14:30:00Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ApiUnauthorized"
          },
          "429": {
            "$ref": "#/components/responses/ApiRateLimited"
          }
        }
      },
      "post": {
        "summary": "Create webhook",
        "description": "Creates a webhook endpoint subscribed to one or more event topics. The `signing_secret` is returned only in this response — store it to verify delivery signatures.",
        "operationId": "createWebhook",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookApiRequest"
              },
              "example": {
                "url": "https://example.com/webhooks/allo",
                "topics": [
                  "call.received",
                  "sms.received"
                ],
                "description": "Production event stream"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/WebhookApiResponse"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "ep_2NfDKEm9sF8xK3pQr1Zt",
                    "url": "https://example.com/webhooks/allo",
                    "topics": [
                      "call.received",
                      "sms.received"
                    ],
                    "description": "Production event stream",
                    "enabled": true,
                    "signing_secret": "whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD",
                    "created_at": "2026-04-21T14:30:00Z"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiValidationError"
          },
          "401": {
            "$ref": "#/components/responses/ApiUnauthorized"
          },
          "429": {
            "$ref": "#/components/responses/ApiRateLimited"
          }
        }
      }
    },
    "/v2/api/webhooks/{webhook_id}": {
      "get": {
        "summary": "Get webhook",
        "description": "Returns a single webhook endpoint by ID, including its `signing_secret`.",
        "operationId": "getWebhook",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "description": "The webhook endpoint ID (e.g. \"ep_2NfDKEm9sF8xK3pQr1Zt\").",
            "schema": {
              "type": "string",
              "example": "ep_2NfDKEm9sF8xK3pQr1Zt"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/WebhookApiResponse"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "ep_2NfDKEm9sF8xK3pQr1Zt",
                    "url": "https://example.com/webhooks/allo",
                    "topics": [
                      "call.received",
                      "sms.received"
                    ],
                    "description": "Production event stream",
                    "enabled": true,
                    "signing_secret": "whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD",
                    "created_at": "2026-04-21T14:30:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ApiUnauthorized"
          },
          "404": {
            "$ref": "#/components/responses/ApiNotFound"
          },
          "429": {
            "$ref": "#/components/responses/ApiRateLimited"
          }
        }
      },
      "put": {
        "summary": "Update webhook",
        "description": "Updates a webhook endpoint. Only the fields you provide are changed. Omitted fields are left untouched.",
        "operationId": "updateWebhook",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "description": "The webhook endpoint ID (e.g. \"ep_2NfDKEm9sF8xK3pQr1Zt\").",
            "schema": {
              "type": "string",
              "example": "ep_2NfDKEm9sF8xK3pQr1Zt"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhookApiRequest"
              },
              "example": {
                "topics": [
                  "call.received",
                  "call.completed"
                ],
                "enabled": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/WebhookApiResponse"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "ep_2NfDKEm9sF8xK3pQr1Zt",
                    "url": "https://example.com/webhooks/allo",
                    "topics": [
                      "call.received",
                      "sms.received"
                    ],
                    "description": "Production event stream",
                    "enabled": true,
                    "created_at": "2026-04-21T14:30:00Z"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiValidationError"
          },
          "401": {
            "$ref": "#/components/responses/ApiUnauthorized"
          },
          "404": {
            "$ref": "#/components/responses/ApiNotFound"
          },
          "429": {
            "$ref": "#/components/responses/ApiRateLimited"
          }
        }
      },
      "delete": {
        "summary": "Delete webhook",
        "description": "Permanently deletes a webhook endpoint and its delivery history.",
        "operationId": "deleteWebhook",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "description": "The webhook endpoint ID (e.g. \"ep_2NfDKEm9sF8xK3pQr1Zt\").",
            "schema": {
              "type": "string",
              "example": "ep_2NfDKEm9sF8xK3pQr1Zt"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Webhook deleted"
          },
          "401": {
            "$ref": "#/components/responses/ApiUnauthorized"
          },
          "404": {
            "$ref": "#/components/responses/ApiNotFound"
          },
          "429": {
            "$ref": "#/components/responses/ApiRateLimited"
          }
        }
      }
    },
    "/v2/api/webhooks/event_types": {
      "get": {
        "summary": "List event types",
        "description": "Returns the catalog of event topics you can subscribe a webhook to.",
        "operationId": "listWebhookEventTypes",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Available event types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WebhookEventTypeApiResponse"
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "name": "call.received",
                      "description": "Inbound call received"
                    },
                    {
                      "name": "sms.sent",
                      "description": "Outbound sms sent"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ApiUnauthorized"
          },
          "429": {
            "$ref": "#/components/responses/ApiRateLimited"
          }
        }
      }
    },
    "/v1/api/calls": {
      "get": {
        "summary": "Search Calls",
        "description": "Search and filter calls for a specific Allo phone number with pagination support.",
        "operationId": "searchCalls",
        "tags": [
          "Calls"
        ],
        "security": [
          {
            "CallsAuth": []
          }
        ],
        "parameters": [
          {
            "name": "size",
            "in": "query",
            "description": "Number of results per page. Must be between 1 and 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (0-indexed).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "allo_number",
            "in": "query",
            "description": "Your Allo phone number to filter calls by. Must be in E.164 format (e.g., `+1234567890`).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "+1234567890"
            }
          },
          {
            "name": "contact_number",
            "in": "query",
            "description": "Filter calls by contact phone number. Only returns calls with this specific contact. Must be in E.164 format (e.g., `+1234567890`).",
            "required": false,
            "schema": {
              "type": "string",
              "example": "+0987654321"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Calls retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchCallsApiResponse"
                },
                "example": {
                  "data": {
                    "results": [
                      {
                        "id": "call_abc123",
                        "from_number": "+1234567890",
                        "to_number": "+0987654321",
                        "length_in_minutes": 5.5,
                        "type": "INBOUND",
                        "summary": "Customer called about order status.",
                        "tag": "support",
                        "recording_url": "https://storage.withallo.com/recordings/abc123.mp3",
                        "start_date": "2024-01-15T10:30:00",
                        "transcript": [
                          {
                            "source": "AGENT",
                            "text": "Hello, how can I help you today?",
                            "time": "2024-01-15T10:30:05",
                            "start_seconds": 5,
                            "end_seconds": 8.5
                          },
                          {
                            "source": "EXTERNAL",
                            "text": "Hi, I'm calling about my order status.",
                            "time": "2024-01-15T10:30:10",
                            "start_seconds": 10,
                            "end_seconds": 14
                          }
                        ]
                      }
                    ],
                    "metadata": {
                      "total_pages": 5,
                      "current_page": 0
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/api/contacts": {
      "get": {
        "summary": "Search Contacts",
        "description": "Search and filter contacts with sorting and pagination support. Returns contacts with engagement level information.",
        "operationId": "searchContacts",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "ContactsAuth": []
          }
        ],
        "parameters": [
          {
            "name": "size",
            "in": "query",
            "description": "Number of results per page. Must be between 1 and 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (0-indexed).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchContactsApiResponse"
                },
                "example": {
                  "data": {
                    "results": [
                      {
                        "id": "cnt_abc123",
                        "name": "John",
                        "last_name": "Doe",
                        "company": {
                          "name": "Acme Corp",
                          "id": "com_xyz789"
                        },
                        "job_title": "Manager",
                        "website": null,
                        "status": "active",
                        "is_archived": false,
                        "created_at": "2024-01-10T08:00:00",
                        "updated_at": "2024-01-15T10:30:00",
                        "numbers": [
                          "+1234567890"
                        ],
                        "is_whitelisted": true,
                        "last_activity_date": "2024-01-15T10:30:00",
                        "engagement": "ENGAGED"
                      }
                    ],
                    "metadata": {
                      "pagination": {
                        "total_pages": 5,
                        "current_page": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "summary": "Create Contact",
        "description": "Create a new contact in your Allo account. At least one phone number is required.",
        "operationId": "createContact",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "ContactsWriteAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContactRequest"
              },
              "example": {
                "name": "John",
                "last_name": "Doe",
                "job_title": "CEO",
                "website": "https://acme.com",
                "emails": [
                  "john@acme.com"
                ],
                "numbers": [
                  "+15551234567"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactApiResponse"
                },
                "example": {
                  "data": {
                    "id": "cnt_abc123",
                    "name": "John",
                    "last_name": "Doe",
                    "job_title": "CEO",
                    "website": "https://acme.com",
                    "status": null,
                    "is_archived": false,
                    "created_at": "2024-01-21T10:30:00",
                    "updated_at": "2024-01-21T10:30:00",
                    "numbers": [
                      "+15551234567"
                    ],
                    "is_whitelisted": false,
                    "last_activity_date": "2024-01-21T10:30:00",
                    "engagement": null
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/api/contacts/{contact_id}": {
      "put": {
        "summary": "Update Contact",
        "description": "Update an existing contact. Only provided fields will be updated. Arrays (emails, numbers, addresses) replace existing values entirely.",
        "operationId": "updateContact",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "ContactsWriteAuth": []
          }
        ],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "description": "The unique identifier of the contact to update (e.g., \"cnt_abc123\")",
            "required": true,
            "schema": {
              "type": "string",
              "example": "cnt_abc123"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContactRequest"
              },
              "example": {
                "name": "John",
                "last_name": "Smith",
                "job_title": "CTO",
                "emails": [
                  "john.smith@acme.com",
                  "john@personal.com"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactApiResponse"
                },
                "example": {
                  "data": {
                    "id": "cnt_abc123",
                    "name": "John",
                    "last_name": "Smith",
                    "job_title": "CTO",
                    "website": "https://acme.com",
                    "status": null,
                    "is_archived": false,
                    "created_at": "2024-01-21T10:30:00",
                    "updated_at": "2024-01-21T11:00:00",
                    "numbers": [
                      "+15551234567"
                    ],
                    "is_whitelisted": false,
                    "last_activity_date": "2024-01-21T11:00:00",
                    "engagement": null
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "CONTACT_NOT_FOUND",
                  "details": null
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/api/sms": {
      "post": {
        "summary": "Send SMS (US)",
        "description": "Send an SMS message to a US phone number using one of your Allo phone numbers. The recipient must be in the same country as your Allo number.",
        "operationId": "sendSMS",
        "tags": [
          "SMS"
        ],
        "security": [
          {
            "SmsAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendSMSRequest"
              },
              "example": {
                "from": "+1234567890",
                "to": "+0987654321",
                "message": "Hello, this is a test message"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SMS sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendSMSResponse"
                },
                "example": {
                  "data": {
                    "from_number": "+1234567890",
                    "sender_id": null,
                    "to_number": "+0987654321",
                    "type": "OUTBOUND",
                    "content": "Hello, this is a test message",
                    "start_date": "2024-01-15T10:30:00"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "fromNumberNotFound": {
                    "summary": "From number not found",
                    "value": {
                      "code": "FROM_NUMBER_NOT_FOUND",
                      "details": null
                    }
                  },
                  "invalidToNumber": {
                    "summary": "Invalid to number",
                    "value": {
                      "code": "INVALID_TO_NUMBER",
                      "details": null
                    }
                  },
                  "toNumberCountryMismatch": {
                    "summary": "Country mismatch",
                    "value": {
                      "code": "TO_NUMBER_COUNTRY_MISMATCH",
                      "details": null
                    }
                  },
                  "invalidLength": {
                    "summary": "Invalid message length",
                    "value": {
                      "code": "INVALID_LENGTH",
                      "details": null
                    }
                  },
                  "providerNotSupported": {
                    "summary": "Provider not supported",
                    "value": {
                      "code": "PROVIDER_NOT_SUPPORTED",
                      "details": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/api/sms#france": {
      "post": {
        "summary": "Send SMS (France)",
        "description": "Send an SMS message to a French phone number using a verified Sender ID. The Sender ID must be verified by the Allo team before use. Contact support to register your Sender ID.",
        "operationId": "sendSMSFrance",
        "tags": [
          "SMS"
        ],
        "security": [
          {
            "SmsAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendSMSFranceRequest"
              },
              "example": {
                "sender_id": "MyCompany",
                "to": "+33612345678",
                "message": "Bonjour, ceci est un message de test"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SMS sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendSMSResponse"
                },
                "example": {
                  "data": {
                    "from_number": null,
                    "sender_id": "MyCompany",
                    "to_number": "+33612345678",
                    "type": "OUTBOUND",
                    "content": "Bonjour, ceci est un message de test",
                    "start_date": "2024-01-15T10:30:00"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalidSenderId": {
                    "summary": "Invalid Sender ID",
                    "value": {
                      "code": "INVALID_SENDER_ID",
                      "details": null
                    }
                  },
                  "senderIdNotActive": {
                    "summary": "Sender ID not active",
                    "value": {
                      "code": "SENDER_ID_NOT_ACTIVE",
                      "details": null
                    }
                  },
                  "invalidToNumber": {
                    "summary": "Invalid to number",
                    "value": {
                      "code": "INVALID_TO_NUMBER",
                      "details": null
                    }
                  },
                  "invalidLength": {
                    "summary": "Invalid message length",
                    "value": {
                      "code": "INVALID_LENGTH",
                      "details": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/api/numbers": {
      "get": {
        "summary": "Get Phone Numbers",
        "description": "Retrieve all Allo phone numbers associated with your account. Returns basic information about each number including country, name, and sharing status.",
        "operationId": "getNumbers",
        "tags": [
          "Phone Numbers"
        ],
        "security": [
          {
            "CallsAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Phone numbers retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNumbersResponse"
                },
                "example": {
                  "data": [
                    {
                      "number": "+1234567890",
                      "name": "Main Line",
                      "country": "US",
                      "is_shared_number": false
                    },
                    {
                      "number": "+33612345678",
                      "name": "France Office",
                      "country": "FR",
                      "is_shared_number": true
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/api/contact/{contact_id}": {
      "get": {
        "summary": "Get Contact",
        "description": "Get detailed information for a specific contact by ID.",
        "operationId": "getContactContext",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "ContactsAuth": []
          }
        ],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "description": "The unique identifier of the contact (e.g., \"cnt_abc123\")",
            "required": true,
            "schema": {
              "type": "string",
              "example": "cnt_abc123"
            }
          },
          {
            "name": "extend",
            "in": "query",
            "description": "Comma-separated list of additional data to include. Available options: `engagement` (includes engagement level), `activity` (includes recent communication activities).",
            "required": false,
            "schema": {
              "type": "string",
              "example": "engagement,activity"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact context retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetContactContextResponse"
                },
                "example": {
                  "data": {
                    "id": "cnt_abc123",
                    "name": "John",
                    "last_name": "Doe",
                    "numbers": [
                      "+1234567890"
                    ],
                    "emails": [
                      "john@acme.com"
                    ],
                    "company": {
                      "name": "Acme Corp",
                      "id": "com_xyz789"
                    },
                    "job_title": "CEO",
                    "website": "https://acme.com",
                    "integration_data": {
                      "HUBSPOT": {
                        "contact_id": "12345",
                        "deal_stage": "Negotiation"
                      }
                    },
                    "custom_properties": {
                      "preferred_language": "English",
                      "vip_status": true
                    },
                    "engagement": "ENGAGED",
                    "activity": [
                      {
                        "type": "INBOUND_CALL",
                        "made_by": "John Doe",
                        "made_at": "2024-01-15T10:30:00",
                        "allo_number": "+1234567890",
                        "content": null
                      },
                      {
                        "type": "OUTBOUND_SMS",
                        "made_by": "Jane Smith",
                        "made_at": "2024-01-14T09:15:00",
                        "allo_number": null,
                        "content": "Thank you for your call. We will follow up shortly."
                      }
                    ],
                    "conversation_url": "/v1/api/contact/cnt_abc123/conversation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "CONTACT_NOT_FOUND",
                  "details": null
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/api/contact/{contact_id}/conversation": {
      "get": {
        "summary": "Search Conversations",
        "description": "Search calls and SMS for a specific contact. Returns paginated results including call recordings, transcripts, AI summaries, and text messages.",
        "operationId": "getContactConversation",
        "tags": [
          "Conversations"
        ],
        "security": [
          {
            "CallsAuth": []
          }
        ],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "description": "The unique identifier of the contact (e.g., \"cnt_abc123\")",
            "required": true,
            "schema": {
              "type": "string",
              "example": "cnt_abc123"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of results per page. Must be between 1 and 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (0-indexed).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "allo_number",
            "in": "query",
            "description": "Filter conversations by a specific Allo phone number (E.164 format).",
            "required": false,
            "schema": {
              "type": "string",
              "example": "+1234567890"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetContactConversationResponse"
                },
                "example": {
                  "data": {
                    "results": [
                      {
                        "type": "CALL",
                        "call": {
                          "id": "call_abc123",
                          "from_number": "+1234567890",
                          "to_number": "+0987654321",
                          "length_in_minutes": 5.5,
                          "type": "INBOUND",
                          "summary": "Customer called about order status.",
                          "tag": "support",
                          "tags": [
                            "support",
                            "order"
                          ],
                          "recording_url": "https://storage.withallo.com/recordings/abc123.mp3",
                          "start_date": "2024-01-15T10:30:00",
                          "transcript": [
                            {
                              "source": "AGENT",
                              "text": "Hello, how can I help you today?",
                              "time": "2024-01-15T10:30:05",
                              "start_seconds": 5,
                              "end_seconds": 8.5
                            }
                          ]
                        },
                        "message": null
                      },
                      {
                        "type": "TEXT_MESSAGE",
                        "call": null,
                        "message": {
                          "from_number": "+1234567890",
                          "to_number": "+0987654321",
                          "type": "OUTBOUND",
                          "content": "Thank you for contacting us!",
                          "start_date": "2024-01-15T11:00:00"
                        }
                      }
                    ],
                    "metadata": {
                      "pagination": {
                        "total_pages": 5,
                        "current_page": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "CONTACT_NOT_FOUND",
                  "details": null
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v2/api/conversations": {
      "get": {
        "summary": "List conversations",
        "description": "Returns a paginated list of conversations grouped by contact phone number, sorted by most recent activity.",
        "operationId": "listConversations",
        "tags": [
          "Conversations"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "allo_number",
            "in": "query",
            "required": true,
            "description": "Filter by Allo number (E.164). Required — list your numbers with GET /v2/api/numbers to find the right one.",
            "schema": {
              "type": "string",
              "example": "+14155550100"
            }
          },
          {
            "name": "last_activity_since",
            "in": "query",
            "description": "Only return conversations with activity after this timestamp (ISO 8601). Ideal for incremental sync.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2026-04-20T10:00:00Z"
            }
          },
          {
            "name": "unread",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Size"
          },
          {
            "$ref": "#/components/parameters/Extend"
          }
        ],
        "responses": {
          "200": {
            "description": "List of conversations",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ConversationSummary"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    }
                  ]
                },
                "example": {
                  "data": [
                    {
                      "contact_number": "+14155551234",
                      "contacts": [
                        {
                          "id": "cnt-abc123",
                          "name": "Sarah Johnson",
                          "company": {
                            "id": "com-xyz789",
                            "name": "Acme Corp"
                          },
                          "deals": [
                            {
                              "id": "dea-def456",
                              "name": "Enterprise Plan",
                              "status": "open"
                            }
                          ]
                        }
                      ],
                      "last_activity": "2026-04-21T14:30:00Z",
                      "last_item": {
                        "id": "cll-abc123",
                        "type": "CALL",
                        "direction": "INBOUND",
                        "date": "2026-04-21T14:30:00Z",
                        "summary": "Customer called about upgrading their plan.",
                        "result": "ANSWERED",
                        "duration": 145
                      }
                    }
                  ],
                  "pagination": {
                    "page": 1,
                    "size": 20,
                    "total_count": 156,
                    "total_pages": 8,
                    "has_more": true
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ApiUnauthorized"
          },
          "429": {
            "$ref": "#/components/responses/ApiRateLimited"
          }
        }
      }
    },
    "/v2/api/conversations/items/search": {
      "post": {
        "summary": "Search all conversations",
        "description": "Search and filter items across all conversations. Supports keyword search across transcripts, summaries, and message content.",
        "operationId": "searchAllConversations",
        "tags": [
          "Conversations"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ItemSearchRequest"
              },
              "example": {
                "search": "billing issues",
                "type": "CALL",
                "sort": "RELEVANCE",
                "date": {
                  "from": "2026-01-01",
                  "to": "2026-04-21"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ConversationItem"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    }
                  ]
                },
                "example": {
                  "data": [
                    {
                      "id": "cll-abc123",
                      "type": "CALL",
                      "direction": "INBOUND",
                      "allo_number": "+14155550100",
                      "contact_number": "+14155551234",
                      "contacts": [
                        {
                          "id": "cnt-abc123",
                          "name": "Sarah Johnson"
                        }
                      ],
                      "user": {
                        "id": "usr-abc123",
                        "name": "Alex Kim"
                      },
                      "date": "2026-04-21T14:30:00Z",
                      "duration": 145,
                      "result": "ANSWERED",
                      "recording_url": "https://storage.withallo.com/recordings/cll-abc123.mp3",
                      "summary": "Customer called about a billing issue on their last invoice.",
                      "tags": [
                        "billing",
                        "support"
                      ]
                    }
                  ],
                  "pagination": {
                    "page": 1,
                    "size": 20,
                    "total_count": 1,
                    "total_pages": 1,
                    "has_more": false
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiValidationError"
          },
          "401": {
            "$ref": "#/components/responses/ApiUnauthorized"
          },
          "429": {
            "$ref": "#/components/responses/ApiRateLimited"
          }
        }
      }
    },
    "/v2/api/conversations/items/{id}": {
      "get": {
        "summary": "Get conversation item",
        "description": "Returns a single call or SMS message by its ID.",
        "operationId": "getConversationItem",
        "tags": [
          "Conversations"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Item ID (`cll-*` for calls, `msg-*` for messages)",
            "schema": {
              "type": "string",
              "example": "cll-abc123"
            }
          },
          {
            "$ref": "#/components/parameters/Extend"
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation item",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ConversationItem"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ApiUnauthorized"
          },
          "404": {
            "$ref": "#/components/responses/ApiNotFound"
          },
          "429": {
            "$ref": "#/components/responses/ApiRateLimited"
          }
        }
      }
    },
    "/v2/api/conversations/items/{id}/summary": {
      "patch": {
        "summary": "Update call summary",
        "description": "Replace the markdown content of a call's AI-generated summary.\n\nOnly call items have summaries — passing an SMS ID (`msg-*`) returns `400 INVALID_ITEM_ID`. If multiple completed summary templates exist on the same call, set `template_key` to disambiguate.",
        "operationId": "updateCallSummary",
        "tags": [
          "Conversations"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Call ID (`cll-*`)",
            "schema": {
              "type": "string",
              "example": "cll-abc123"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string",
                    "description": "Full replacement markdown content. Max 100,000 characters.",
                    "maxLength": 100000
                  },
                  "template_key": {
                    "type": "string",
                    "nullable": true,
                    "enum": [
                      "MARKDOWN_CLASSIC",
                      "MARKDOWN_SHORT_CALL"
                    ],
                    "description": "Required only when the call has more than one completed summary template."
                  }
                },
                "required": [
                  "content"
                ]
              },
              "example": {
                "content": "# Summary\n\nCustomer asked about pricing for the Pro plan and confirmed a follow-up call next Tuesday."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CallSummary"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "cll-abc123",
                    "content": "# Summary\n\nCustomer asked about pricing for the Pro plan and confirmed a follow-up call next Tuesday.",
                    "version": 4,
                    "updated_at": "2026-05-12T14:32:11",
                    "updated_by": {
                      "id": "usr-abc123",
                      "name": "Alex Kim"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiValidationError"
          },
          "401": {
            "$ref": "#/components/responses/ApiUnauthorized"
          },
          "404": {
            "$ref": "#/components/responses/ApiNotFound"
          },
          "429": {
            "$ref": "#/components/responses/ApiRateLimited"
          }
        }
      }
    },
    "/v2/api/me": {
      "get": {
        "summary": "Me",
        "description": "Returns information about the authenticated API key: its scopes, available endpoints, team, and rate limits. No specific scope is required — any valid API key can call this endpoint.\n\nAgents should call this endpoint first to discover their capabilities before making other API calls.",
        "operationId": "getMe",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "API key info retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/MeResponse"
                    }
                  }
                },
                "example": {
                  "data": {
                    "api_key_id": "api-abc123def456",
                    "scopes": [
                      "CONVERSATIONS_READ",
                      "PHONE_NUMBERS_READ",
                      "TAGS_READ",
                      "TAGS_WRITE",
                      "USERS_READ"
                    ],
                    "endpoints": [
                      {
                        "method": "GET",
                        "path": "/v2/api/conversations",
                        "description": "List conversations grouped by contact number",
                        "scope": "CONVERSATIONS_READ"
                      },
                      {
                        "method": "POST",
                        "path": "/v2/api/conversations/items/search",
                        "description": "Search calls and SMS with filters and keyword search",
                        "scope": "CONVERSATIONS_READ"
                      },
                      {
                        "method": "GET",
                        "path": "/v2/api/tags",
                        "description": "List all available tags",
                        "scope": "TAGS_READ"
                      },
                      {
                        "method": "GET",
                        "path": "/v2/api/users",
                        "description": "List team members with roles and assigned numbers",
                        "scope": "USERS_READ"
                      },
                      {
                        "method": "GET",
                        "path": "/v2/api/numbers",
                        "description": "List phone numbers with capabilities and member access",
                        "scope": "PHONE_NUMBERS_READ"
                      }
                    ],
                    "team": {
                      "id": "team-xyz789",
                      "name": "Acme Sales"
                    },
                    "rate_limits": {
                      "read_per_second": 20,
                      "write_per_second": 5
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/api/users": {
      "get": {
        "summary": "List users",
        "description": "Returns all team members.",
        "operationId": "listUsers",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "role",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "ADMIN",
                "MANAGER",
                "MEMBER"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "ACTIVE",
                "BLOCKED"
              ],
              "default": "ACTIVE"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "usr-abc123",
                      "name": "Alex Kim",
                      "email": "alex@acme.com",
                      "role": "ADMIN",
                      "status": "ACTIVE",
                      "image_url": "https://storage.withallo.com/avatars/usr-abc123.jpg"
                    },
                    {
                      "id": "usr-def456",
                      "name": "Jordan Lee",
                      "email": "jordan@acme.com",
                      "role": "MEMBER",
                      "status": "ACTIVE",
                      "image_url": null
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ApiUnauthorized"
          },
          "429": {
            "$ref": "#/components/responses/ApiRateLimited"
          }
        }
      }
    },
    "/v2/api/users/{id}": {
      "get": {
        "summary": "Get user",
        "description": "Returns a single team member by their ID.",
        "operationId": "getUser",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "usr-abc123"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ApiUnauthorized"
          },
          "404": {
            "$ref": "#/components/responses/ApiNotFound"
          },
          "429": {
            "$ref": "#/components/responses/ApiRateLimited"
          }
        }
      }
    },
    "/v2/api/tags": {
      "get": {
        "summary": "List tags",
        "description": "Returns all tags configured on the team.",
        "operationId": "listTags",
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of tags",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Tag"
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "tag-abc123",
                      "name": "qualified",
                      "color": "#00AA00"
                    },
                    {
                      "id": "tag-def456",
                      "name": "follow_up",
                      "color": "#FF8800"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ApiUnauthorized"
          },
          "429": {
            "$ref": "#/components/responses/ApiRateLimited"
          }
        }
      }
    },
    "/v2/api/numbers": {
      "get": {
        "summary": "List phone numbers",
        "description": "Returns all phone numbers and sender IDs on your team.",
        "operationId": "listNumbers",
        "tags": [
          "Phone Numbers"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of phone numbers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PhoneNumber"
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "number": "+14155550100",
                      "name": "Sales US",
                      "country": "US",
                      "type": "NUMBER",
                      "capabilities": [
                        "VOICE",
                        "SMS",
                        "MMS"
                      ],
                      "users": [
                        {
                          "id": "usr-abc123",
                          "name": "Adrien",
                          "email": "adrien@company.com"
                        }
                      ]
                    },
                    {
                      "number": "+33612345678",
                      "name": "Support FR",
                      "country": "FR",
                      "type": "NUMBER",
                      "capabilities": [
                        "VOICE"
                      ],
                      "users": [
                        {
                          "id": "usr-abc123",
                          "name": "Adrien",
                          "email": "adrien@company.com"
                        },
                        {
                          "id": "usr-def456",
                          "name": "Marie",
                          "email": "marie@company.com"
                        }
                      ]
                    },
                    {
                      "number": null,
                      "name": "Acme Corp",
                      "country": "FR",
                      "type": "SENDER_ID",
                      "capabilities": [
                        "SMS"
                      ],
                      "users": []
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ApiUnauthorized"
          },
          "429": {
            "$ref": "#/components/responses/ApiRateLimited"
          }
        }
      }
    },
    "/v2/api/conversations/items/{id}/tags": {
      "post": {
        "summary": "Add tags",
        "description": "Add one or more tags to a conversation item.",
        "operationId": "addTags",
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Call ID (`cll-*`)",
            "schema": {
              "type": "string",
              "example": "cll-abc123"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Tag keys to add"
                  }
                },
                "required": [
                  "tags"
                ]
              },
              "example": {
                "tags": [
                  "qualified",
                  "follow_up"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tags added successfully"
          },
          "401": {
            "$ref": "#/components/responses/ApiUnauthorized"
          },
          "404": {
            "$ref": "#/components/responses/ApiNotFound"
          },
          "429": {
            "$ref": "#/components/responses/ApiRateLimited"
          }
        }
      }
    },
    "/v2/api/conversations/items/{id}/tags/{tag}": {
      "delete": {
        "summary": "Remove tag",
        "description": "Remove a tag from a conversation item.",
        "operationId": "removeTag",
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Call ID (`cll-*`)",
            "schema": {
              "type": "string",
              "example": "cll-abc123"
            }
          },
          {
            "name": "tag",
            "in": "path",
            "required": true,
            "description": "Tag key to remove",
            "schema": {
              "type": "string",
              "example": "qualified"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tag removed successfully"
          },
          "401": {
            "$ref": "#/components/responses/ApiUnauthorized"
          },
          "404": {
            "$ref": "#/components/responses/ApiNotFound"
          },
          "429": {
            "$ref": "#/components/responses/ApiRateLimited"
          }
        }
      }
    },
    "/v2/api/conversations/items/batch": {
      "post": {
        "summary": "Get many conversation items",
        "description": "Returns multiple conversation items by their IDs in a single request. Use this to fetch full details (summary, tags, recording, etc.) for items returned by the analytics drilldown or any other list.",
        "operationId": "batchGetConversationItems",
        "tags": [
          "Conversations"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of conversation item IDs (max 100)",
                    "maxItems": 100
                  }
                },
                "required": [
                  "ids"
                ]
              },
              "example": {
                "ids": [
                  "cll-abc123",
                  "cll-def456",
                  "cll-ghi789"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conversation items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
[...]
